@model IEnumerable<WypozyczalniaJachtow.Models.Jachty>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zdjecie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Port)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IloscMiejsc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dlugosc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Szerokosc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Silnik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.koszt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wyposazenie)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zdjecie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Port)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IloscMiejsc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dlugosc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Szerokosc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Silnik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.koszt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wyposazenie)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
