@model WypozyczalniaJachtow.Models.Rezerwacja

@{
    ViewBag.Title = "Delete";
}

<h3>Potwierdź usunięcie rezerwacji:</h3>
<br>
<div>
    <h4>Rezerwacja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*    @Html.DisplayNameFor(model => model.Imie)*@Imię Rezerwującego
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imie)
        </dd>

        <dt>
            @*   @Html.DisplayNameFor(model => model.NrTel)*@Numer telefonu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NrTel)
        </dd>

        <dt>
            @*    @Html.DisplayNameFor(model => model.DataOd)*@Początek rezerwacji
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.DataOd)*@
            @Model.DataOd.Value.ToString("dd/MM/yyyy")
        </dd>

        <dt>
            @*   @Html.DisplayNameFor(model => model.DataDo)*@ Koniec rezerwacji
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.DataDo)*@
            @Model.DataDo.Value.ToString("dd/MM/yyyy")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zaliczka)
        </dt>

        <dd>
           @* @Html.DisplayFor(model => model.Zaliczka)*@
            @if (Model.Zaliczka == true)
            {
                @Html.Encode("Zapłacono")
            }
            else
            {
                @Html.Encode("Nie zapłacono")
            }
        </dd>

        <dt>
            @*   @Html.DisplayNameFor(model => model.Jachty.Name)*@ Nazwa jachtu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jachty.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group row mt-3 mb-3">

            <div class="col-md-6 pe-1">
                @Html.ActionLink("Wróć do listy", "Index", "Rezerwacjas", new { @class = "btn bg-dark text-light col-12" })
            </div>

            <div class="col-md-6 ps-1">
                <button type="submit" value="Delete" class="btn bg-dark text-light col-12">Usuń rezerwację</button>
            </div>
        </div>
    }
</div>

