@model WypozyczalniaJachtow.Models.Rezerwacja

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edytuj rezerwację</h4>

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.JachtID, "Nazwa jachtu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("JachtID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.JachtID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Imie, "Imię rezerwującego", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Imie, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Imie, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NrTel, "Numer telefonu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NrTel, new { htmlAttributes = new { @class = "form-control", placeholder = "format XXX-XXX-XXX" } })
                @Html.ValidationMessageFor(model => model.NrTel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataOd, "Rozpoczęcie rezerwacji", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataOd, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                @Html.ValidationMessageFor(model => model.DataOd, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataDo, "Zakończenie rezerwacji", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataDo, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                @Html.ValidationMessageFor(model => model.DataDo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Zaliczka, "Zaliczka", htmlAttributes: new { @class = "control-label col-md-4" })

            @{
                var listItems = new List<SelectListItem>()
                            {
                            new SelectListItem {Text = "Tak",   Value = true.ToString()},
                            new SelectListItem {Text = "Nie", Value = false.ToString()}
                        };
            }

            @Html.DropDownListFor(m => m.Zaliczka, listItems, new { @class = "form-control" })


            @Html.ValidationMessageFor(model => model.Zaliczka, "", new { @class = "text-danger" })

        </div>

    </div>
    <div class="form-group row mt-3 mb-3">

        <div class="col-md-6 pe-1">
            @Html.ActionLink("Wróć do listy", "Index", "Rezerwacjas", new { @class = "btn bg-dark text-light col-12" })
        </div>
        <div class="col-md-6 ps-1">
            <button type="submit" class="btn bg-dark text-light col-12">Edytuj rezerwację</button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <script>
        $(function () {

            $("#NrTel").mask("999-999-999");
        });

    </script>
}
